.buttonContainer {
    background-color: #845EC2;
    margin-top: 0;
    border-end-end-radius: 15px;
    border-end-start-radius: 15px;
    width: 100%;
    box-shadow: -3px 5px 8px 1px rgba(0,0,0,0.54);
    display: flex;
    justify-content: space-between;
    height: 10%;
}

.profileDetailContainer{
    box-shadow: -3px 4px 10px 1px rgba(0,0,0,0.54);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-bottom: 0;
    height: 300px;
    width: 60%;
    margin-left:20% ;
    position: absolute;
    margin-top: -10%;
    background-color: white;
    padding-top: 10px;
}

.translastionHistory{
    padding: 10%;
    padding-bottom: 0;
    padding-top: 10px;
    text-align: left;
    margin-bottom: 0;
    height: 90%;
    margin-top: 0;
}

.tranlationRecord{
    list-style-type: decimal;
    margin-top: 5px;
    padding: 0;
}

.profileButton{
    border-radius: 12px;
    width: 20%;
    font-size: x-small;
    box-shadow: none;
    border:none;
    margin: 5px;
    background-color: rgb(204, 209, 202);
    cursor: pointer;
}

.header{
    background-color: #FFC75F;
    margin: 0;
    overflow-y: visible;
    height: 15em;
    color: white;
}

h1 {
    margin: 0;
    font-size: 36px;
}