.image {
    transform: scale(0.2);
  }
  
  @media screen and (max-width: 150px) {
    .image {
      transform: scale(0.2);
    }
    .ul {
      overflow-wrap: break-word;
    }}

.translate {
  text-align: center;
  border-radius: 25px;
  border: 2px solid rgba(238, 224, 212, 0.867);
  box-shadow: 5px 5px 10px grey;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: -8%;
  background-color: white;
  min-height: 200px;
}

.handSigns {
  height: 75px;
  width: 75px;
}

.translateButton {
  padding: 8px 20px;
  margin-left: 0;
  text-align: center;
  background-color: #845EC2;
  margin-top: 10px;
  cursor: pointer;
  border-style: solid;
  border-color: #845EC2;
  border-start-end-radius: 12px;
  border-end-end-radius: 12px;
  height: 55px;
}

fieldset {
  text-align: center;
  padding-bottom: 200px;
  border: none;
  background-color: #FFC75F;
  margin: 0;
}

label {
  text-align: center;
  border-radius: 12px;
  border: none;
  color: none;
  padding-right: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.translationInput {
  text-align: left;
  height: 50px;
  margin-right:0 ;
  border-start-start-radius: 12px;
  border-end-start-radius: 12px;
  border-color :#845EC2;
  border-style: solid;
  width: 40%;
  margin-top: 5%;
}