@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');

.navbar {
    background-color: #FFC75F;
    color: white ;
    padding-top: 0;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom:solid 6px #E7B355;
    
}

h3 {
    font-family: 'Love Ya Like A Sister', cursive;
    margin: 0;
    padding-top: 15px;
}

.link {
    color:inherit;
    text-decoration: inherit;

}