.loginInput{
    padding: 10%;
    padding-bottom: 0;
    padding-top: 10px;
    height: 40%;
    margin-top: 0;
    padding-bottom: 10px;
    margin-bottom: 10px;
    width: 60%;
    border-radius: 12px;
    border-style: solid;
}

.loginForm{
    box-shadow: -3px 4px 10px 1px rgba(0,0,0,0.54);
    border-radius: 12px;
    margin-bottom: 0;
    width: 60%;
    margin-left:20% ;
    background-color: white;
    padding-top: 10px;
    position: absolute;
    margin-top: -2%
}

header{
    background-color: #FFC75F;
    margin: 0;
    overflow-y: visible;
    height: 15em;
    color: white;
}


h2 {
    margin: 0;
}

.homeLogo{
    height: 50%;
}

.loginButton{
    height: 30px;
    font-size:large ;
    border-radius: 12px;
    border-style: solid;
    margin: 3px;
    cursor: pointer;
}